#main{

    /* text-align: center; */
    min-height: 100vh;
    padding: 10px
}

#main > div{
display: flex;
justify-content: center;
align-items: center;    
}



form.ant-form > div.ant-form-item{
    display: flex;
    justify-content: center;
}